<!DOCTYPE html>
<html>
  <head>
    <title>zip 検索</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style='text-align: center;'>
    <!-- アップロード機能 -->
    <form 
      method="POST"
      enctype="multipart/form-data"
      action="/upload">
      <input type="file" name="thumbnail"></input>
      <input type="submit"></input>
    </form><br><br><br>

    <!-- 郵便番号検索 -->
    <form method="GET" action="/zipSearch">
      <% var obj = content[0] %>
      <p>郵便番号</p>
      <input
        id="search"
        name="code1"
        type="text"
        value="<%= obj ? obj.code : '' %>"
      />
      <button>検索</button>
      <p>都道府県</p>
      <input
        type="text"
        placeholder="tokyo"
        value="<%= obj ? obj.prefecture : '' %>"
      />
      <p>市</p>
      <input type="text" placeholder="tokyo" value="<%= obj ? obj.city : '' %>" />
      <p>町</p>
      <input type="text" placeholder="tokyo" value="<%= obj ? obj.town : '' %>" />
    </form>
  </body>
</html>
